* {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginRL {
  margin: 0 10px;
}
.dialog_title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsla(0, 0%, 100%, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
