.stop-mess-around-content_dialog-class .cursor-pointer {
  cursor: pointer;
}

.stop-mess-around-content_dialog-class .align-center {
  display: flex;
  align-items: center;
}

.stop-mess-around-content_dialog-class .center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop-mess-around-content_dialog-class .marginRL {
  margin: 0 10px;
}
.stop-mess-around-content_dialog-class .marginLeft {
  margin: 0 0 0 10px;
}
.stop-mess-around-content_dialog-class .dialog_title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}

.stop-mess-around-content_dialog-class .footer_tip {
  color: #606266;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}
