* {
  margin: 0;
  padding: 0;
}
body,html{
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
}
.cursor-pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginRL {
  margin: 0 10px;
}
.marginLeft {
  margin: 0 0 0 10px;
}
.dialog_title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}

.Margin6 {
  margin-bottom: 6px;
}


/* 字体统一 */
.title-body-1{
  font-size: 24px;
  font-weight: bold;
}
.title-body-2{
  font-size: 16px;
  font-weight: bold;
}
.title-body-3{
  font-size: 14px;
  font-weight: bold;
}
.title-body-4{
  font-size: 18px;
  font-weight: 400;
}
/* 颜色统一 */
.text-color-1{
  color: rgb(158, 158, 158);
}
/* margin统一 */
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}

.ml-20{
  margin-left: 20px;
}
.mr-20{
  margin-right: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-20{
  margin-top: 20px;
}
.flex-row{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}